@model CategoryPageVM
@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>



@if (Model.Categories.Count == 0)
{

<div class="jumbotron">
    Henüz hicbir kategori eklenmemiş...Kategori eklemek icin <a asp-action="AddCategory" asp-controller="Category"> tıklayınız </a>
</div>

   
}
else
{
<div class="panel panel-primary">
    <div class="panel panel-body ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kategori Ismi</th>
                    <th>Kategori Acıklaması</th>
                    <th>Islemler</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Category item in Model.Categories)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}



